//colors
$color-primary: #424140;

$color-primary-dark: #252524;

$color-secondary: #FFFCD5;

$color-tertiary: #567687;

$color-accentOne: #D8871E;

$color-accentTwo: #747F50;

//fonts
$title: 'Simonetta', cursive;
$humanist:'Belleza', sans-serif;
$sanSerif:'Montserrat', sans-serif;
$heading:'Simonetta', cursive;


// font-family: 'Poiret One', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Reem Kufi', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Belleza', sans-serif;
// font-family: 'Roboto Slab', serif;
// font-family: 'Simonetta', cursive;