body {
  background-color: black;
  margin: 0;
  padding: 0;
  color: #07d9f5; }

html {
  font-size: 62.5%; }

@media only screen and (min-width: 112.5em) {
  font-size: 75%; }

@media only screen and (max-width: 75em) {
  font-size: 56.25%; }

@media only screen and (max-width: 56.25em) {
  font-size: 50%; }

@media only screen and (max-width: 37.5em) {
  font-size: 37.5%; }

a {
  text-decoration: none;
  outline: none; }

a:link {
  /* Applies to all unvisited links */
  text-decoration: none;
  outline: none; }

a:visited {
  /* Applies to all visited links */
  text-decoration: none;
  outline: none; }

a:hover {
  /* Applies to links under the pointer */
  text-decoration: none;
  outline: none; }

a:active {
  /* Applies to activated links */
  text-decoration: none;
  outline: none; }

body {
  font-family: "Montserrat", sans-serif; }

.nav {
  font-size: 4em;
  font-family: "Simonetta", cursive; }
  .nav__nav {
    font-size: .75em;
    font-family: "Belleza", sans-serif; }

.card {
  font-size: 1.75em; }
  .card__body-title {
    font-family: "Simonetta", cursive; }

.form__container {
  font-size: 1.75em; }
  .form__container-contactField-input {
    font-family: "Belleza", sans-serif; }
  .form__container-userField-input {
    font-family: "Belleza", sans-serif; }

.container {
  font-size: 1.75em; }

.nav {
  background-color: #FF6F61;
  position: fixed;
  overflow: hide;
  top: 0%;
  width: 100%;
  display: flex;
  color: black; }
  .nav__nav {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    padding: 0 1em 0 1em; }
    @media only screen and (max-width: 37.5em) {
      .nav__nav {
        padding: 0; } }
    .nav__nav-brand {
      color: black;
      width: 25%;
      display: flex;
      justify-content: flex-start; }
      @media only screen and (max-width: 37.5em) {
        .nav__nav-brand {
          justify-content: center;
          padding: 0 1em 0 1em; } }
    .nav__nav-link {
      color: black;
      padding: 1em 1em 1em 1em; }
      @media only screen and (max-width: 37.5em) {
        .nav__nav-link {
          padding: 1em 0.25em 2.5em 0.25em; } }
      @media only screen and (max-width: 56.25em) {
        .nav__nav-link {
          padding: 1em 0.75em 4em 0.75em; } }
      .nav__nav-link-link:link {
        padding: 1em 1em 1em 1em;
        background-color: black;
        color: #ebd40a; }
      .nav__nav-link-link:hover {
        padding: 1em 1em 1em 1em;
        background-color: black;
        color: #ebd40a; }
      .nav__nav-link-link:active {
        padding: 1em 1em 1em 1em;
        background-color: black;
        color: #ebd40a; }
    .nav__nav-item {
      margin: .5em 0 0 0; }

.footer {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em; }

.about {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15em; }

.card {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  border-style: none;
  color: #07d9f5; }
  .card__body-title {
    color: #D8871E; }

ul {
  list-style-type: none; }

#myphoto {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    #myphoto {
      padding-bottom: 1em; } }
  @media only screen and (max-width: 56.25em) {
    #myphoto {
      padding-bottom: 1.5em; } }

#photoMDT {
  box-shadow: 5px 10px 10px #747F50;
  border-style: solid;
  border-color: #07d9f5;
  border-width: 2px; }

h3 {
  color: #747F50; }

.btn {
  padding: .5em;
  border: none;
  font: inherit;
  color: #ebd40a;
  background-color: black;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-color: black; }

.btn:active {
  transform: translateY(1px);
  filter: saturate(150%); }

.btn:hover {
  color: #D8871E;
  border-color: #D8871E;
  background-color: #ebd40a; }

.form {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15em; }
  .form__container {
    background-color: #747F50;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    border-style: none;
    border-radius: 25px;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: #ebd40a; }
    .form__container-heading {
      padding: 20px;
      color: black; }
    .form__container-userField {
      padding: 20px;
      color: #ebd40a;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      @media only screen and (max-width: 37.5em) {
        .form__container-userField {
          flex-direction: column; } }
      .form__container-userField-input {
        border-radius: 20px;
        padding: 10px; }
    .form__container-contactField {
      padding: 20px;
      color: #FF6F61;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      @media only screen and (max-width: 37.5em) {
        .form__container-contactField {
          flex-direction: column; } }
      .form__container-contactField-input {
        border-radius: 20px;
        padding: 10px;
        box-sizing: border-box; }
    .form__container-buttonField {
      padding: 20px;
      display: flex;
      justify-content: start; }

button {
  padding: 1em 2em 1em 2em;
  font: inherit;
  color: black;
  background-color: #FF6F61;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-color: #ebd40a;
  border-radius: 20px; }

button:active {
  transform: translateY(1px);
  filter: saturate(150%); }

button:hover {
  color: #D8871E;
  border-color: #D8871E;
  background-color: #ebd40a; }

.container {
  background-color: black;
  overflow: auto;
  height: 1000px;
  margin-top: 10em; }

#viewer {
  border-style: solid;
  border-width: 5px;
  border-color: #07d9f5; }

h2 {
  text-align: center;
  color: #D8871E; }

.img {
  border-style: solid;
  border-width: 1px 5px 1px 5px;
  border-color: #07d9f5; }

.button {
  padding: .5em 1em .5em 1em;
  border: none;
  background-color: transparent;
  color: #ebd40a;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-color: #ebd40a;
  border-radius: 5px; }

.button:active {
  transform: translateY(1px);
  filter: saturate(150%); }

.button:hover {
  color: black;
  border-color: #D8871E;
  background-color: #ebd40a; }

.splash {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  .splash__heading {
    font-size: 8em;
    color: #FF6F61;
    text-align: center; }
  .splash__subHeading {
    font-size: 5em;
    color: #747F50;
    text-align: center; }
  .splash__Button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font-size: 5em;
    color: #ebd40a;
    text-align: center; }
